body{background: #fafafa; color: #626262;}
.hide{ display: none;}
.solid{ border: red 1px solid; opacity: 1; display: block;}


.section{ position: relative; width: 100%; height: 100%; text-align: center; }
.section3{width: 100%; }
.section3 .rose{ position:absolute; width: 30%; top: 10%; left: 50%; margin-left: -15%;}
.section3 .guize{ width: 94%; margin: 10% auto; font-size: 14px; line-height: 24px; }
.section3 .guize h2{ text-align: center; color: #838383; font-size: 16px; font-weight: normal;}
.section3 .guize p{ color: #868686;text-align: left;}



.section2{ position:relative; width: 100%;}
.section2 .ren{ position: absolute; bottom: -4%; right: 0; width: 96%; z-index:1; }
.section2 .bottom{ position: absolute; bottom: -20%; right: 0; width:100%; z-index: 3; }
.section2 .words{ position: absolute; top: 0; left: 0; width:50%; height: 100%; background: url(../images/sec2-guang.png) center center no-repeat; background-size: 100%; z-index: 2; }
img.fade{ /*opacity: 0;*/}
.fadeUp8{animation:fadeUp 0.2s ease-in 0.7s forwards;}
.fadeUp7{animation:fadeUp 0.2s ease-in 0.6s forwards;}
.fadeUp6{animation:fadeUp 0.2s ease-in 0.5s forwards;}
.fadeUp5{animation:fadeUp 0.2s ease-in 0.4s forwards;}
.fadeUp4{animation:fadeUp 0.2s ease-in 0.3s forwards;}
.fadeUp3{animation:fadeUp 0.2s ease-in 0.2s forwards;}
.fadeUp2{animation:fadeUp 0.2s ease-in 0.1s forwards;}
.fadeUp1{animation:fadeUp 0.2s ease-in forwards;}

@keyframes fadeUp{
	0%{ transform: translate(0,150%); opacity: 0;}
	100%{ transform: translate(0,0); opacity: 1;}
}

.section2 .words p{ position: relative; display: block; width: 100%; margin: 61% 3%;}
.section2 .words b{ position: relative; width: 80%; margin: 5% auto; display: block;}
.section2 .words p span{ display: block; font-size: 16px; color: #b00210; margin: 6% 0;}
.section2 .words i.lIcon{ position:absolute; display: block; width: 17%; left: 0;}
.section2 .words i.lIcon img{ margin: 28% 29%;}
.section2 .words i.lIcon img:last-child{ display: none;}
.section2 .words i.rIcon{ position:absolute; display: block; width: 17%; height: 100%; right: 0; font-size: 10px;}
.section2 .words i.rIcon em{ position: absolute; display: block; width: 8px; height: 8px; background: #e60012; border-radius: 100%; margin: 10% 26%; }
.section2 .words i.rIcon b{ display: block; width: 100%; height: 100%; margin: 0; line-height: 40px; }


.section1{ width: 100%; margin-top: 16%;}
.section1 .words{ position: absolute; bottom: 4%; left: 50%; margin-left: -26%; width:52%; height: 24%; background: url(../images/sec2-guang.png) top center no-repeat; background-size:60%; }

.home-page{ width: 100%; height: 100%;}
.home-page .rose{ position:absolute; width: 30%; top: 23%; left: 50%; margin-left: -15%;
	transform: scale(0.7); z-index: 3;}
.home-page .rose2{ z-index: 1;margin-top: -4%;}	
.home-page .rose3{ z-index: 1; margin-top: 8%;}	
.home-page .rose.flower{animation:flower 0.5s ease-in forwards; }
.home-page .box{ position: absolute; top: 12%; width: 100%; z-index: 5;
	-webkit-transform: scale(0.7);
	transform: scale(0.7);} /*宝盒*/
.home-page .box.scale{
	-webkit-animation:scale 1s ease-in forwards; 
	animation:scale 1s ease-in forwards; 
	border: red 1px solid; }
.home-page .words{ position: absolute; bottom: 34%; left: 50%; width: 54%; margin-left: -27%; }
.home-page .price{ position: absolute; bottom: 24%; left: 50%; width: 45.6%; margin-left: -22.8%;}
.home-page .tips{ position: absolute; bottom: 13%; left: 50%; width: 45.6%; margin-left: -22.8%; text-align: center;}
.home-page .tips span{ width: 10%; margin: 5% auto 15% auto; display: block; }
.home-page .tips .across{
	-webkit-animation:up 1s infinite ease-in running;
	animation:up 1s infinite ease-in running;
}
.home-page .tips p{ text-align: center;}
.bgCover {background: #fff; height: 120%;opacity: 0; position: fixed; top: 0;width: 100%;z-index: 5;}

@-webkit-keyframes up{
	0%{-webkit-transform:translateY(0);opacity:0}
	50%{-webkit-transform:translateY(10px);opacity:1}
	100%{-webkit-transform:translateY(20px);opacity:0}
}
@keyframes up{
	0%{transform:translateY(0);opacity:0}
	50%{transform:translateY(10px);opacity:1}
	100%{transform:translateY(20px);opacity:0}
}



@-webkit-keyframes scale{
	0%{ -webkit-transform: scale(0.7);}
	100%{ -webkit-transform: scale(1);}
}
@keyframes scale{
	0%{ transform: scale(0.7);}
	100%{ transform: scale(1);}
}


@keyframes flower{
	0%{ transform: scale(0.7);}
	100%{ transform: scale(1); top: 5%;}
}



@media only screen and  (max-width: 640px) {
	.section3 .guize p{ font-size: 14px;}
}

@media only screen and (max-width:340px) {
	.section3 .guize p{ font-size: 10px;}
}
/*大屏*/
@media only screen and  (min-width: 640px) {
	.section3 .guize p{ font-size: 14px; color: red;}
}