body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1178px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2850px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:2850px;
}
#u1 {
  position:absolute;
  left:2px;
  top:1417px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:10px;
  width:180px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:93px;
  top:56px;
  width:14px;
  height:28px;
  color:#0000FF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:800px;
  top:56px;
  width:203px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:540px;
  top:56px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:557px;
  top:67px;
  width:15px;
  height:28px;
  color:#0000FF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:620px;
  top:410px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:637px;
  top:421px;
  width:15px;
  height:28px;
  color:#0000FF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:450px;
  top:680px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:467px;
  top:691px;
  width:15px;
  height:28px;
  color:#0000FF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:800px;
  top:90px;
  width:378px;
  height:48px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:48px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:0px;
  top:1360px;
  width:840px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:823px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:840px;
  height:1px;
}
#u23 {
  position:absolute;
  left:771px;
  top:1310px;
  width:49px;
  height:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:771px;
  top:1388px;
  width:49px;
  height:28px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:800px;
  top:190px;
  width:348px;
  height:96px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:96px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:30px;
  top:1388px;
  width:50px;
  height:50px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:47px;
  top:1399px;
  width:15px;
  height:28px;
  color:#0000FF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:467px;
  top:1388px;
  width:50px;
  height:50px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:484px;
  top:1399px;
  width:15px;
  height:28px;
  color:#0000FF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:170px;
  top:1680px;
  width:50px;
  height:50px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u38 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:187px;
  top:1691px;
  width:15px;
  height:28px;
  color:#0000FF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:460px;
  top:1810px;
  width:50px;
  height:50px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:477px;
  top:1821px;
  width:15px;
  height:28px;
  color:#0000FF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:680px;
  top:2200px;
  width:50px;
  height:50px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:697px;
  top:2211px;
  width:15px;
  height:28px;
  color:#0000FF;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:28px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:800px;
  top:324px;
  width:157px;
  height:16px;
  color:#FF0000;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u51 {
  position:absolute;
  left:750px;
  top:2217px;
  width:105px;
  height:16px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
